{% if bind_zones is defined and
      bind_zones | default([]) | bodsch.core.type == "list" and
      bind_zones | count > 0 %}

  {% for bind_zone in bind_zones %}
    {% if bind_zone.create_forward_zones | default('true') | bool %}
{# Start: set zone type  #}
{# {% set _all_addresses = ansible_facts.all_ipv4_addresses | union(ansible_facts.all_ipv6_addresses) %} #}
{#// -- {{ bind_zone.name }} ---------------------------------------
// type      : {{ bind_zone.type | default('') }}
// primaries : {{ bind_zone.primaries | default([]) }}
// forwarders: {{ bind_zone.forwarders | default([]) }}
// ------------------------------------------------------------
#}
{#
{% if bind_zone.type is defined and bind_zone.type == 'primary' %}
{% set _type = 'primary' %}
{% elif bind_zone.type is defined and bind_zone.type == 'secondary' %}
{% set _type = 'secondary' %}
{% elif bind_zone.type is defined and bind_zone.type == 'forward' %}
{% set _type = 'forward' %}
{% elif bind_zone.type is not defined and bind_zone.primaries is defined and (_all_addresses|intersect(bind_zone.primaries)|length > 0) %}
{% set _type = 'primary' %}
{% elif bind_zone.type is not defined and bind_zone.primaries is defined and not (_all_addresses|intersect(bind_zone.primaries)|length > 0) %}
{% set _type = 'secondary' %}
{% elif bind_zone.type is not defined and bind_zone.forwarders is defined %}
{% set _type = 'forward' %}
{% endif %}
// #1: '{{ _type }}'
// ------------------------------------------------------------
#}
{#       {% set _all_addresses = ansible_facts.all_ipv4_addresses | union(ansible_facts.all_ipv6_addresses) %} #}
      {% set _type = bind_zone | bodsch.dns.zone_type(all_addresses=host_all_addresses) %}
{#// #2: '{{ _type }}'
// ------------------------------------------------------------
#}

zone "{{ bind_zone.name }}" IN {
      {% if (_type | string).upper() == 'PRIMARY' %}
  type master;
  file "{{ bind_zone_dir }}/{{ bind_zone.name }}";
  notify yes;

  {# -------------------------------------------- #}
        {% if bind_zone.allow_updates | default([]) | count > 0 %}
          {% if bind_zone.allow_updates | bodsch.core.type == "list" %}
  allow-update {
            {% for u in bind_zone.allow_updates %}
    {{ u }};
            {% endfor %}
  };
          {% else %}
  allow-update {
    none
  };
          {% endif %}
        {% endif %}
  {# -------------------------------------------- #}
  {# -------------------------------------------- #}
        {% if bind_zone.allow_transfers | default([]) | count > 0 %}
          {% if bind_zone.allow_transfers | bodsch.core.type == "list" %}
  allow-transfer {
            {% for u in bind_zone.allow_transfers %}
    {{ u }};
            {% endfor %}
  };
          {% endif %}
        {% endif %}
  {# -------------------------------------------- #}
  {# -------------------------------------------- #}
        {% if bind_zone['update_policy'] is defined %}
          {% if bind_zone['update_policy']['mode'] == 'local' %}
  update-policy local;
          {% elif bind_zone['update_policy']['mode'] == 'rules' %}
  update-policy {
            {% for rule in bind_zone['update_policy']['rules'] %}
    {{ rule.action }} {{ rule.identity }} {{ rule.ruletype }}{% if rule.name is defined %} {{ rule.name }}{% endif %} {{ (rule.types | default(['any'])) | join(' ') }};
            {% endfor %}
  };
          {% endif %}
        {% endif %}
  {# -------------------------------------------- #}
        {% if bind_zone.also_notify is defined %}
  also-notify  {
    {{ bind_zone.also_notify| join(';\n') | indent(4) }};
  };
        {% endif %}

      {% elif (_type | string).upper() == 'SECONDARY' %}
  type slave;
  masters {
    {{ bind_zone.primaries| join(';\n') | indent(4) }};
  };
  file "{{ bind_secondary_dir }}/{{ bind_zone.name }}";
      {% elif (_type | string).upper() == 'FORWARD' %}
  type forward;
  forward only;
  forwarders {
    {{ bind_zone.forwarders| join(';\n') | indent(4) }};
  };
      {% endif %}
};
    {% endif %}

    {% if bind_zone.networks is defined %}
      {% if bind_zone.create_reverse_zones | default('true') | bool %}
        {% set _type = bind_zone | bodsch.dns.zone_type(all_addresses=bind_zone.networks) %}
        {% set _reverse_update_policy = bind_zone.reverse_update_policy | default(None) %}
        {% set _reverse_allow_updates = [] if _reverse_update_policy else bind_zone.reverse_allow_updates | default(bind_zone.allow_updates | default([])) %}
        {% for network in bind_zone.networks %}

zone "{{ ('.'.join(network.replace(network+'.','').split('.')[::-1])) }}.in-addr.arpa" IN {
          {% if (_type | string).upper() == 'PRIMARY' %}
  type master;
  file "{{ bind_zone_dir }}/{{ ('.'.join(network.replace(network+'.','').split('.')[::-1])) }}.in-addr.arpa";
  notify yes;
            {% if bind_zone.also_notify is defined %}
  also-notify  {
    {{ bind_zone.also_notify| join(';\n') | indent(4) }};
  };
            {% endif %}
  {# -------------------------------------------- #}
        {% if _reverse_allow_updates | count > 0 %}
          {% if _reverse_allow_updates | bodsch.core.type == "list" %}
  allow-update {
            {% for u in _reverse_allow_updates %}
    {{ u }};
            {% endfor %}
  };
          {% else %}
  allow-update {
    none
  };
          {% endif %}
        {% endif %}
  {# -------------------------------------------- #}
        {% if _reverse_update_policy %}
          {% if _reverse_update_policy.mode == 'local' %}
  update-policy local;
          {% elif _reverse_update_policy.mode == 'rules' %}
  update-policy {
            {% for rule in _reverse_update_policy.rules %}
    {{ rule.action }} {{ rule.identity }} {{ rule.ruletype }}{% if rule.name is defined %} {{ rule.name }}{% endif %} {{ (rule.types | default(['any'])) | join(' ') }};
            {% endfor %}
  };
          {% endif %}
        {% endif %}
  {# -------------------------------------------- #}
  {# -------------------------------------------- #}
        {% if bind_zone.allow_transfers | default([]) | count > 0 %}
          {% if bind_zone.allow_transfers | bodsch.core.type == "list" %}
  allow-transfer {
            {% for u in bind_zone.allow_transfers %}
    {{ u }};
            {% endfor %}
  };
          {% endif %}
        {% endif %}
  {# -------------------------------------------- #}
          {% elif (_type | string).upper() == 'SECONDARY' %}
  type slave;
  masters {
    {{ bind_zone.primaries| join(';\n') | indent(4) }};
  };
  file "{{ bind_secondary_dir }}/{{ ('.'.join(network.replace(network+'.','').split('.')[::-1])) }}.in-addr.arpa";
          {% elif _type == 'forward' %}
  type forward;
  forward only;
  forwarders {
    {{ bind_zone.forwarders| join(';\n') | indent(4) }};
  };
          {% endif %}
};
        {% endfor %}
      {% endif %}
    {% endif %}

    {% if bind_zone.ipv6_networks is defined %}
      {% if bind_zone.create_reverse_zones | default('true') | bool %}
        {% set _type = bind_zone | bodsch.dns.zone_type(all_addresses=bind_zone.ipv6_networks) %}
        {% set _reverse_update_policy = bind_zone.reverse_update_policy | default(None) %}
        {% set _reverse_allow_updates = [] if _reverse_update_policy else bind_zone.reverse_allow_updates | default(bind_zone.allow_updates | default([])) %}
        {% for network in bind_zone.ipv6_networks %}

zone "{{ (network | ansible.utils.ipaddr('revdns'))[-(9+(network | regex_replace('^.*/','') | int)//2):] }}" IN {
          {% if (_type | string).upper() == 'PRIMARY' %}
  type master;
  file "{{ bind_zone_dir }}/{{ (network | ansible.utils.ipaddr('revdns'))[-(9+(network | regex_replace('^.*/','') | int)//2):-1] }}";
  notify yes;
            {% if bind_zone.also_notify is defined %}
  also-notify  {
    {{ bind_zone.also_notify| join(';\n') | indent(4) }};
  };
            {% endif %}
  {# -------------------------------------------- #}
        {% if _reverse_allow_updates | count > 0 %}
          {% if _reverse_allow_updates | bodsch.core.type == "list" %}
  allow-update {
            {% for u in _reverse_allow_updates %}
    {{ u }};
            {% endfor %}
  };
          {% else %}
  allow-update {
    none
  };
          {% endif %}
        {% endif %}
  {# -------------------------------------------- #}
        {% if _reverse_update_policy %}
          {% if _reverse_update_policy.mode == 'local' %}
  update-policy local;
          {% elif _reverse_update_policy.mode == 'rules' %}
  update-policy {
            {% for rule in _reverse_update_policy.rules %}
    {{ rule.action }} {{ rule.identity }} {{ rule.ruletype }}{% if rule.name is defined %} {{ rule.name }}{% endif %} {{ (rule.types | default(['any'])) | join(' ') }};
            {% endfor %}
  };
          {% endif %}
        {% endif %}
  {# -------------------------------------------- #}
  {# -------------------------------------------- #}
        {% if bind_zone.allow_transfers | default([]) | count > 0 %}
          {% if bind_zone.allow_transfers | bodsch.core.type == "list" %}
  allow-transfer {
            {% for u in bind_zone.allow_transfers %}
    {{ u }};
            {% endfor %}
  };
          {% endif %}
        {% endif %}
  {# -------------------------------------------- #}
          {% elif (_type | string).upper() == 'SECONDARY' %}
  type slave;
  masters {
    {{ bind_zone.primaries| join(';\n') | indent(4) }};
  };
  file "{{ bind_secondary_dir }}/{{ (network | ansible.utils.ipaddr('revdns'))[-(9+(network | regex_replace('^.*/','') | int)//2):-1] }}";
          {% elif _type == 'forward' %}
  type forward;
  forward only;
  forwarders {
    {{ bind_zone.forwarders| join(';\n') | indent(4) }};
  };
          {% endif %}
};
        {% endfor %}
      {% endif %}
    {% endif %}

  {% endfor %}
{% endif %}
